@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.bg-education {
  background-color: lightblue;
  color: black; /* Adjust text color as needed */
}

.bg-personal {
  background-color: lightgreen;
  color: black; /* Adjust text color as needed */
}

.bg-community {
  background-color: lightyellow;
  color: black; /* Adjust text color as needed */
}

.bg-health {
  background-color: lightcoral;
  color: black; /* Adjust text color as needed */
}

.bg-project {
  background-color: lightgray;
  color: black; /* Adjust text color as needed */
}
